
.sidenav h1{
  font-size: 30px;
  margin: 0px 50px;
  text-decoration: underline;
}

.sidenav{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 350px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #faf2f2; /* White */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(0, 104, 222); /*Blue */
  display: block;
}

.sidenav ul{
  list-style: none;
}

.sidenav a:hover {
  color: rgb(0, 104, 222);
  color: white;
  background-color: rgb(0, 104, 222); /*Blue */
}

.search-field{
  margin: 0px 50px;
  
}


.search-submit{
  color: white;
  background-color: rgb(0, 104, 222); /*Blue */
  border-color: rgb(0, 104, 222); /*Blue */
  margin: 0px 50px;
}
